{% extends 'base/base.html' %}

{% block title %}
CODEMATH
{% endblock %}
{% block content %}
<form action="{% url 'Simpson13' %}" method="POST">
  <font color="White" face="Comic Sans MS">
  {% csrf_token %}

  <div class="btns">
      <h2>Metodo de integracion Simpson 1/3</h2>
      <br></br>
      <label for="funcion"><strong>Funcion:</strong>

      <input type="text" value="" id="funcion" name="funcion"></label>

      <br></br>
      <label for="intervaloa"><strong>Intervalo superior:</strong>
      <input type="text" value="" id="intervaloa" name="intervaloa"></label>
      <br></br>
      <label for="intervalob"><strong>Intervalo Inferior:</strong>
      <input type="text" value="" id="intervalob" name="intervalob"></label>
      <br></br>
      <label for="npart"><strong>numero de particiones:</strong>
      <input type="text" value="" id="npart" name="npart"></label>
      <br></br>

  </div>
  <div class="btns"><a><input type="Submit" value="Convertir"/></a><input type="Submit" value="Limpiar"/></div>
  <br></br><br></br>
  <tbody>
    {% if enviar %}
    <tr>
      <td>la integral es:</td>
      <td>{{enviar}}</td>
    </tr>
    {% endif %}
  </tbody>

</form>

<br></br><br></br><br></br>
{% endblock %}
